<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    @* @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")*@
    @*<link rel="stylesheet" href="~/wwwroot/css"/>
    <script src="~/bundles/modernizr"></script>*@
    <script src="https://kit.fontawesome.com/c0b1a641d5.js" crossorigin="anonymous"></script>
    <style>
        body {
            width: 100%;
            height: 100%;
            margin:-8px;
        }

        .header {
            display: flex;
            width: 100%;
            justify-content: center;
            background-color: white;
            height: 80px;
        }

            .header .main_header {
                width: 80%;
                display: flex;
                justify-content: space-around;
                align-content: center;
                align-items: center;
            }

        .nav_header {
            text-align: center;
        }

        .nav_list {
            display: flex;
            justify-content: center;
            list-style: none;
            padding: 0;
        }

        .nav_header ul li {
            font-size: 22px;
            margin-right: 100px;
        }

            .nav_header ul li:hover {
                color: orangered;
                cursor: pointer;
            }

        .icon_search {
            font-size: 25px;
            margin-right: 10px;
            padding-top:10px;
        }

            .icon_search:hover {
                cursor: pointer;
                color: orangered;
            }

        .fa-user {
            font-size: 25px;
            margin-right: 10px;
            color: black;
            padding-top:10px;
        }

            .fa-user:hover {
                cursor: pointer;
                color: orangered;
            }

        .container {
        }

        .ahrf {
            text-decoration: none;
        }

        .option {
            color:black;
            text-decoration:none;
        }

            .option:hover {
                cursor: pointer;
                text-decoration: none;
                color: orangered;
            }
            .option::after {
                color: orangered;
            }
    </style>
</head>
<body>
    <div class="header">
        <div class="main_header">
            <a href="/Home/Index"> <img src="~/Image/Logo.png" style="object-fit:cover; width: 80px; padding-top:10px" /></a>
            <div class="nav_header">
                <ul style="display: flex;list-style: none; padding-top: 15px; font-size:20px">
                    <li><a href="~/PhanLoai/DanhSachSanPhamTheoDanhMuc/653b94a68c2a5169fe4b8241" class="option">Đồ ăn</a></li>
                    <li><a href="~/PhanLoai/DanhSachSanPhamTheoDanhMuc/653b949e8c2a5169fe4b823f" class="option">Đồ uống</a></li>
                    <li><a href="~/PhanLoai/DanhSachSanPhamTheoDanhMuc/653b94ab8c2a5169fe4b8244" class="option">Combo</a></li>

                </ul>
            </div>
            <div class="icon_search">
                <i class="fas fa-search search-icon"></i>
            </div>
        
            <div class="login-register">
                <a href="/Login/Login"><i class="fas fa-user"></i></a>
            </div>
     
   
            <div>
 
            </div>
            <div >
                <a href="~/GioHang/Index" class="option">Giỏ Hàng</a>
            </div>             
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
        </footer>
    </div>


</body>
</html>
