@model CNPM_NC_DoAnNhanh.Models.ChucVu
@{
    ViewBag.Title = "Thêm Mới Chức Vụ";
    Layout = "~/Admin/Layout/_LayoutAdmin.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Form</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }

        form {
            width: 60%;
            margin: 20px auto;
            background-color: #fff;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        label {
            display: block;
            margin-bottom: 8px;
        }

        input, textarea {
            width: 100%;
            padding: 8px;
            margin-bottom: 16px;
            box-sizing: border-box;
        }

        button {
            background-color: #4caf50;
            color: #fff;
            padding: 10px 15px;
            border: none;
            cursor: pointer;
        }
            button:hover {
                background-color: #45a049;
            }
    </style>
</head>
<body>
    <h1 style="text-align:center;" >Thêm Chức Vụ</h1>
    <form asp-action="Create" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="TenCV" class="control-label"></label>
            <input asp-for="TenCV" class="form-control" />
            <span asp-validation-for="TenCV" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Tạo Mới" class="btn btn-primary" />
        </div>
    </form>
</body>
</html>
