@model List<DoUong>
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>

    body {
        background-image: url('	https://shopeefood.vn/app/assets/img/main-banner.jpg?45bff8c9ec408a5ba51f9fdef662324e');
    }

    .main_body {
        display: flex;
        justify-content: space-between;
        color: white;
        margin-top: 50px;
    }
    

    .body_left {
        display: flex;
        flex-direction: column;
        width: 40%;
    }

    .nav_select ul li {
        border: 1px solid white;
        padding: 5px 10px;
        margin-right: 10px;
        margin-top: 10px;
        border-radius: 10px;
    }

        .nav_select ul li:hover {
            background-color: white;
            color: black;
        }

    .body_right {
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 100%;
        padding-top: 80px;

    }

    .body_left {
        text-align:center;
        margin:100px;
    }

    .btn_sub_search {
        display: flex;
        padding-left:120px;
    }

    .ul_options {
        display: flex;
        flex-wrap:wrap;
        list-style:none;
        padding-left:130px;
    }

    .ul_options:hover {
        cursor:pointer;
    }

    .card_box {
        width: calc(33.33% - 30px);   
        overflow: hidden;
        border: 0.5px solid grey;
        padding: 10px;  
        border-radius: 10px;
        margin-bottom: 30px;
        position: relative;
        text-decoration: none;
    }

        .card_box:hover {
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
        }

        .card_box .name_sp {
            color: black;
            font-weight: bold;
            text-align: center;
            margin-bottom: 5px;
        }

        .card_box .deal_sp {
            color: red;
            text-align: center;
            font-size: 16px
        }

        .card_box .address_sp {
            margin-left: 5px;
            width: 100%;
            overflow: hidden;
        }

    .div_BestSeller {
        background-color: white;
        height: 600px;
        border-radius: 10px;
        padding: 10px;
        overflow-y: scroll;
        width: 70%;
    }

    .card-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    ::-webkit-scrollbar {
        width: 0;
    }
</style>
<main>
    <div class="main_body">
        <div class="body_left">
            <p style="font-size: 30px; color: white; text-align:left; padding-left:120px">Đặt Đồ ăn, giao hàng từ 20'</p>
            <form id="search-form" method="get" asp-action="Search">
                <div class="form-group" style="margin-bottom:20px">
                    <label for="keyword" style="font-size:25px; padding-left:100px; font-family:math;">Tìm sản phẩm:</label>
                    <input type="text" class="form-control" id="keyword" name="keyword" placeholder="Tìm kiếm..." />
                </div>
            </form>
            <div class="nav_select">
                <ul class="ul_options">
                    <li>All</li>
                    <li>Đồ Ăn</li>
                    <li>Đồ Uống</li>
                    <li>Combo Đặt Biệt</li>           
                </ul>
            </div>
        </div>
        <div class="body_right">
            <div class="div_BestSeller">
                <p style="color:black;font-size: 20px;font-weight: bold;font-family: system-ui;text-align: center;">Các Món Ăn Hiện Có</p>
                <div class="card-container">
                    @foreach (var document in Model)
                    {
                        <a href="~/Home/ThongTinSP/@document._id" class="card_box">
                            <img style="object-fit: cover; width: 100%; margin-bottom: 10px;" src="@document.Img" />
                            <p class="name_sp">@document.TenDoUong</p>
                        </a>
                        <a href="~/Home/ThongTinSP/@document._id" class="card_box">
                            <img style="object-fit: cover; width: 100%; margin-bottom: 10px;" src="@document.Img" />
                            <p class="name_sp">@document.TenDoUong</p>
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>
</main>