@using CNPM_NC_DoAnNhanh.Models
@model IEnumerable<PhanLoai>
<ul>
    @foreach (var loaiSanPham in Model)
    {
        <li>
            <a asp-controller="PhanLoai" asp-action="DanhSachSanPhamTheoDanhMuc" asp-route-id="@loaiSanPham._id">
                @loaiSanPham.TenLoai
            </a>
        </li>
    }
</ul>
