<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="~/css/Admin.css" rel="stylesheet" />
    <script src="~/Scripts/ADMIN.js"></script>
    <style>
        .page-content-body {
            /* background-image: url('https://shopeefood.vn/app/assets/img/main-banner.jpg?45bff8c9ec408a5ba51f9fdef662324e'); */
            color: black;
        }
        span{
            margin-left:10px;
        }
    </style>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    </head>

</head>

<body>
    <svg style="display:none;">
     </svg>
    <header class="page-header">
        <nav>
            <a href="#0" aria-label="forecastr logo" class="logo">
                <svg width="140" height="49">
                    <use xlink:href="#logo"></use>
                </svg>
            </a>
            <button class="toggle-mob-menu" aria-expanded="false" aria-label="open menu">
                <svg width="20" height="20" aria-hidden="true">
                    <use xlink:href="#down"></use>
                </svg>
            </button>
            <ul class="admin-menu">
                 <li>
                    <a href="Index">
                        <i class="fas fa-users"></i>
                        <span>KHÁCH HÀNG</span>
                    </a>
                </li>
                <li>
                    <a href="~/ChucVu/Index">
                        <i class="fab fa-black-tie"></i>
                        <span>CHỨC VỤ</span>
                    </a>
                </li>
                <li>
                    <a href="~/NhanVien/Index">
                        <i class="fas fa-users"></i>
                        <span>NHÂN VIÊN</span>
                    </a>
                </li>
                <li>
                    <a href="~/ThongKe/ThongKeTopKhachHangVaBieuDo">
                        <i class="fas fa-chart-line"></i>
                        <span>DOANH THU</span>
                    </a>
                </li>
                <li>
                    <a href="~/Vourcher/Index">
                        <i class="fas fa-percent"></i>
                        <span>VOURCHER</span>
                    </a>
                </li>

                <li>
                    <a href="~/DonHang/Index">
                        <i class="fas fa-comments"></i>
                        <span>ĐƠN HÀNG</span>
                    </a>
                </li>
                <li>
                    <a href="~/DoUong/Index">
                        <i class="fas fa-shopping-basket"></i>
                        <span>SẢN PHẨM</span>
                    </a>
                </li>

            </ul>

        </nav>
    </header>
    <section class="page-content" style="background-color:#E1E1E1">
        <section class="search-and-user">
         </section>
        <section class="page-content-body">
            <article>
                @RenderBody()
            </article>
        </section>
        <footer class="page-footer">
         </footer>
    </section>
</body>
</html>
