@model CNPM_NC_DoAnNhanh.Models.KhachHang

@{
    ViewData["Title"] = "Create";
    Layout = "~/Admin/Layout/_LayoutAdmin.cshtml";
}
<style>
    body {
        background-image: url('	https://shopeefood.vn/app/assets/img/main-banner.jpg?45bff8c9ec408a5ba51f9fdef662324e');
        color: white;
    }

    .add-pro {
        padding-top: 50px;
        padding-bottom: 20px;
        font-size: 20px;
        text-align: center;
    }

    .form-group {
        padding-bottom: 10px;
        font-family: math;
        font-size: 25px;
    }

    .btn-primary {
        background-color: orangered;
        color: white;
        font-size: 20px;
        border-radius: 5px;
        padding: 5px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .title {
        font-family: math;
        font-size: 30px;
        text-align: center;
    }
</style>

<body>
    <div class="row">
        <div class="col-md-4">
            <div class="title">
                <a>Thêm Khách Hàng</a>
            </div>
            <form asp-action="Thêm khách hàng">
                <div class="add-pro">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <a>Họ và tên khách hàng</a>
                        <input asp-for="HoTenKH" class="form-control" style="margin-left: 25px; font-size: 20px" />
                        <span asp-validation-for="HoTenKH" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <a>Số điện thoại</a>
                        <input asp-for="SDT" action="form-control" style="margin-left: 25px; font-size: 20px" />
                        <span asp-validation-for="SDT" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <a>Địa chỉ</a>
                        <input asp-for="DiaChi" class="form-control" style="margin-left: 75px; font-size: 20px" />
                        <span asp-validation-for="DiaChi" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <a>Ví</a>
                        <input asp-for="Vi" class="form-control" style="margin-left: 75px; font-size: 20px" />
                        <span asp-validation-for="Vi" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <a>Tài khoản</a>
                        <input asp-for="TK" class="form-control" style="margin-left: 75px; font-size: 20px" />
                        <span asp-validation-for="TK" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <a>Mật khẩu</a>
                        <input asp-for="PASS" class="form-control" style="margin-left: 75px; font-size: 20px" />
                        <span asp-validation-for="PASS" class="text-danger"></span>
                    </div>
                    <div class="form-group" style="padding-top: 20px">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div style="text-align: center;">
        <a asp-action="Index" style="color: white;">Back to List</a>
    </div>
</body>
